.analytics-container {
  padding: 20px;
  background: radial-gradient(circle at top left, #1e1b4b, #020617);
  min-height: 100vh;
  color: white;
  font-family: "Segoe UI", sans-serif;
}

.title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
}
.filter-box {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.filter-box label {
  font-size: 14px;
  opacity: 0.8;
}

.filter-box select {
  padding: 8px 12px;
  border-radius: 8px;
  border: none;
  background: rgba(255, 255, 255, 0.08);
  color: rgb(21, 20, 20);
  outline: none;
}
/* ================= KPI ================= */
.kpi-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin-bottom: 25px;
}

.kpi-card {
  background: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 14px;
  padding: 15px;
  backdrop-filter: blur(10px);
}

.kpi-card h3 {
  font-size: 14px;
  opacity: 0.8;
}

.value {
  font-size: 22px;
  font-weight: bold;
  margin: 8px 0;
}

.up {
  color: #4ade80;
  font-size: 13px;
}

.down {
  color: #f87171;
  font-size: 13px;
}

/* ================= CHART ================= */
.chart-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.chart-box {
  height: 220px;
  background: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
  font-size: 16px;
}

/* ================= RESPONSIVE ================= */
@media (max-width: 1200px) {
  .kpi-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .chart-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .kpi-grid,
  .chart-grid {
    grid-template-columns: 1fr;
  }
}