/* OTP CONTAINER */
.otp-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 18px;
}

/* OTP BOX */
.otp-container input {
  width: 45px;
  height: 50px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;

  border-radius: 10px;
  border: 2px solid #e5e7eb;
  outline: none;

  background: #ffffff;
  transition: all 0.25s ease;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

/* HOVER */
.otp-container input:hover {
  border-color: #a78bfa;
}

/* FOCUS EFFECT */
.otp-container input:focus {
  border-color: #7c3aed;
  box-shadow: 0 0 0 3px rgba(124, 58, 237, 0.25);
  transform: scale(1.08);
}

/* OTP BUTTON */
.auth-box button {
  margin-top: 18px;
  width: 100%;
  padding: 12px;
  font-size: 15px;
  font-weight: 600;

  background: linear-gradient(135deg, #7c3aed, #4c1d95);
  color: white;

  border: none;
  border-radius: 12px;
  cursor: pointer;

  transition: all 0.3s ease;
}

/* BUTTON HOVER */
.auth-box button:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(124, 58, 237, 0.3);
}

/* BUTTON ACTIVE */
.auth-box button:active {
  transform: scale(0.98);
}